.App {
  text-align: center;
}

/* .FirstView {
  background-image: url('./component/assets/Group\ 77.svg');
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  background-size: cover;
} */

.FirstView-head {
  position: relative;
  z-index: +20;
  color: aliceblue;
  font-size: 4rem;
  margin-top: 15rem;
}

.FirstView-img {
  width: 100%;
  position: relative;
  /* top: 0; */
  /* left: 0; */
  z-index: -20;
  margin-top: -14rem;
  transform: rotate(0deg);
  animation: moon 3s ease-in-out 2s infinite;
}

@keyframes moon {
  100% {
    transform: rotate(360deg);
  }
}